<!DOCTYPE html>
<html lang="en">
<head>
	<title>Velasquez Store</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	{% include 'menu.html'%}

	<div class="container-fluid">
		
		<div class="row content">
			

			<div class="container">
				<div class="jumbotron">
					<h1>Velasquez Loja de Vinhos</h1>
					<p>Seja bem vindo! Clique nos itens do menu superior para a listagem de clientes. Para receber a recomentação de vinhos, clique no botão <strong>Recomendações</strong> na lista.</p>
				</div>
				
			</div>
		</div>
	</div>

	<footer class="container-fluid">
		<p>Created by Cleverson Ledur (cleversonledur@gmail.com)</p>
	</footer>

</body>
</html>
